In [1]:
import pandas as pd
import numpy as np
import pyodbc
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Connect to server
conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};'
                      'Server=10.51.141.179\SQLServer;'
                      'Database=AnaProd_PNomina;'
                      'Database=BATCH_PREAPROBADOS;'
                      'Database=BatchProdNomina;'
                      'Database=DataInt_PNomina;'
                      'UID=UN1035585;'
                      'PWD=UN1035585&.21;')

cursor = conn.cursor()

In [3]:
%%time
df_SO = pd.read_sql_query('''
SELECT * FROM ##MUESTRA_SO ''',conn)

Wall time: 28.5 s

In [4]:
df_SO

,ClienteUnico,ProductoBig,salario_mensual,Periodicidad,fec_solicitud,idtipoinstitucion,hit,CreditoAlnova,IdSolicitud,EstatusSol
0,1-1-2817-36634,NOMINA,8720.44,SEMANAL,2022-08-06,0,SI,,2.022081e+25,RECHAZADA
1,1-1-2817-68081,NOMINA,9641.80,SEMANAL,2022-08-06,0,SI,,2.022081e+25,RECHAZADA
2,1-3-8620-39085,NOMINA,8737.00,SEMANAL,2022-08-06,0,SI,,2.022081e+24,RECHAZADA
3,1-2-126-7808,NOMINA,7817.14,QUINCENAL,2022-08-06,1,SI,,2.022081e+24,RECHAZADA
4,1-24-9495-10475,NOMINA,10149.64,SEMANAL,2022-08-06,0,NO,,2.022081e+24,RECHAZADA
...,...,...,...,...,...,...,...,...,...,...
2915882,1-11-542-6849,PORTABILIDAD,1140.60,MENSUAL,2022-11-21,99,SI,,2.022112e+25,RECHAZADA
2915883,1-1-213-108151,PORTABILIDAD,9454.78,QUINCENAL,2022-11-21,99,SI,,2.022112e+25,RECHAZADA
2915884,1-1-5445-109639,PORTABILIDAD,7936.80,SEMANAL,2022-11-21,99,SI,,2.022112e+25,RECHAZADA
2915885,1-9-5684-11854,PORTABILIDAD,9445.26,QUINCENAL,2022-11-21,99,SI,,2.022112e+24,RECHAZADA
2915886,1-9-2133-5209,PORTABILIDAD,2644.76,QUINCENAL,2022-11-21,99,SI,,2.022112e+25,RECHAZADA

In [18]:
data = pd.read_csv("Muestra_Originacion.txt", sep='')

ParserError: Error tokenizing data. C error: Expected 290 fields in line 3, saw 306

In [17]:
data

        ClienteUnico                                       ProductoBig                                        salario_mensual                         Periodicidad                                                                                                                                           fec_solicitud idtipoinstitucion hit  CreditoAlnova             IdSolicitud                             EstatusSol
0        ----------------------------------------------...
1        1-39-5932-11392                               ...
2        1-1-1177-53995                                ...
3        1-1-1520-72568                                ...
4        1-20-1742-13266                               ...
...                                                    ...
2915885  1-1-9484-10768                                ...
2915886  1-1-4081-3092                                 ...
2915887  1-1-9937-1412                                 ...
2915888                            (2915887 rows affected)
2915889  Completion time: 2023-01-09T13:43:09.1766880-0...

[2915890 rows x 1 columns]